{% set js %}
  {% include "assets/js/newsletter.js" %}
{% endset %}
  
<script defer>{{ js | safe }}</script>
<div class="flex w-full">
  <div class="w-full bg-white dark:bg-gray-700 rounded shadow-lg p-8 md:max-w-lg md:mx-auto">
    <form class="email-form" name="newsletter" method="POST" action="/subscribe-submit" data-netlify="true" netlify-honeypot="bot-field">
      <h3>Subscribe to my newsletter</h3>
      <div hidden aria-hidden="true">
        <label>
          Don’t fill this out if you're human: 
          <input name="bot-field" />
        </label>
      </div>
      <p><strong>Join the mailing list. You'll get notified whenever I post something new.</strong></p>
      <div class="flex flex-col mb-4 md:w-full">
        <label class="mb-2 uppercase font-bold text-lg text-grey-darkest dark:text-gray-400" for="email">Email</label>
        <input class="border py-2 px-3 text-grey-darkest" placeholder="Enter your email here" type="email" name="email" id="email" required>
      </div>
      <button class="block bg-green-600 hover:bg-blue-600 text-white uppercase text-lg mx-auto p-4 rounded" type="submit">Subscribe</button>
    </form>
  </div>
</div>
