---
layout: layouts/page.njk
section: latest
---
<main>
 {{ content | safe }}
	<div>
		<h2>Latest Posts</h2>
		<ul>
		{% set postCount = 0 %}
		{% for page in collections.menuItems | reverse %}
			{% if page.data.eleventyNavigation.parent and postCount != 10 %}
				{% set postCount = postCount + 1 %}
				<li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
			{% endif %}
		{% endfor %}
	</div>
</main>
